@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    color: white;
}

@layer components {
    .container {
        @apply w-[90%] max-w-[1440px] mx-auto;
    }
    .page__title {
        @apply text-3xl leading-tight lg:text-[45px] font-bold text-center my-16;
    }
    .app {
        @apply bg-darkBG min-h-screen
    }
    .link__active {
        @apply py-[4px] pl-4 rounded-tl-full rounded-bl-full cursor-pointer w-full  shadow-md bg-fadeBeige text-black;
    }

    .link {
        @apply py-[4px] pl-4 rounded-tl-full rounded-bl-full cursor-pointer w-full text-white hover:shadow-md hover:bg-fadeBeige hover:text-black;
    }

    .gradient_main {
        background: linear-gradient(180deg, #000000 0%, #241400 111.94%);
    }
}

